.popup-overlay .salon-modal {
    background: white;
    width: 510%;
    max-width: 1100px;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .popup-overlay .salon-modal h2 {
    background-color: var(--variable-collection-user-admin);
    color: white;
    padding: 20px;
    margin: -30px -30px 20px -30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .popup-overlay .salon-modal h3 {
    color: var(--variable-collection-user-admin);
    margin-bottom: 15px;
  }
  
  .popup-overlay .modal-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .popup-overlay .modal-content textarea {
    grid-column: span 2;
  }
  
  .popup-overlay .modal-content select {
    appearance: none;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
  }
  
  .popup-overlay .modal-content input,
  .popup-overlay .modal-content textarea,
  .popup-overlay .modal-content select {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 70%;
    resize: none;
  }
  
  .popup-overlay .salon-modal .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .popup-overlay .salon-modal .cancel-button {
    background: white;
    border: 1px solid var(--variable-collection-user-admin);
    color: black;
    padding: 12px 20px;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .popup-overlay .salon-modal .save-button {
    background: var(--variable-collection-user-admin);
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 15px;
    cursor: pointer;
  }

  .popup-overlay .modal-content .capacity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .popup-overlay .modal-content .capacity-container input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    max-width: 300px;
    height: 1px;
    border-radius: 20px;
    background: #ddd;
    outline: none;
    transition: background 0.3s;
    cursor: pointer;
  }
  
  /* Estilo del riel cuando el usuario interactúa */
  .popup-overlay .modal-content .capacity-container input[type="range"]:hover {
    background: #bbb;
  }
  
  /* Personalizar el deslizador (bolita) en WebKit (Chrome, Safari) */
  .popup-overlay .modal-content .capacity-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--variable-collection-user-admin);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Efecto al interactuar */
  .popup-overlay .modal-content .capacity-container input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Personalizar el deslizador en Firefox */
  .popup-overlay .modal-content .capacity-container input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--variable-collection-user-admin);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup-overlay .modal-content .capacity-container input[type="range"]::-moz-range-thumb:hover {
    transform: scale(1.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  .popup-overlay .modal-content .recursos-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .popup-overlay .modal-content .recurso-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    padding: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .popup-overlay .modal-content .recurso-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    color: var(--variable-collection-text);
    border-radius: 8px;
  }
  
  .popup-overlay .modal-content .recurso-nombre {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .popup-overlay .modal-content .btn-eliminar {
    background: transparent;
    border: none;
    color: var(--variable-collection-text);
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .popup-overlay .modal-content .btn-eliminar:hover {
    color: #ff6b6b;
  }
  
  .popup-overlay .modal-content .recurso-detalles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
  }
  
  .popup-overlay .modal-content .campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .popup-overlay .modal-content .campo label {
    font-weight: bold;
  }
  
  .popup-overlay .modal-content .campo input,
  .popup-overlay .modal-content .campo textarea
  .popup-overlay .modal-content .campo select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
  }

  .popup-overlay .modal-content .especificaciones-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
  }
  
  
  .popup-overlay .modal-content .spec-item {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .popup-overlay .modal-content .spec-item input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .popup-overlay .modal-content .spec-item button {
    color: var(--variable-collection-text);
    border: none;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    background: transparent;
  }
  
  .popup-overlay .modal-content .spec-item button:hover {
    color: red;
  }

  .popup-overlay .modal-content .especificaciones-container .add-spec-btn {
    width: 100%;
    padding: 10px;
    background: var(--variable-collection-user-admin);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    transition: background 0.2s;
  }
  
  .popup-overlay .modal-content .especificaciones-container .add-spec-btn:hover {
    background: var(--variable-collection-current-color);
  }
  
  .popup-overlay .modal-content .recursos-container .add-button {
    width: 100%;
    padding: 10px;
    background: var(--variable-collection-user-admin);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .popup-overlay .modal-content .recursos-container .add-button:hover {
    background: var(--variable-collection-current-color);
  }