.popup-add-reserva form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 4%;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.columns .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

.columns .column .salon-picker,
.columns .column input,
.columns .column textarea,
.columns .column select {
    width: 90%;
}

.columns .column .salon-picker {
    max-height: 51vh;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.columns .column .salon-picker input {
    width: auto;
}

.columns .column .salon-picker .item-salon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding: 4%;
}

.columns .column .salon-picker .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.columns .column .checkbox {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 10px;
}

.columns .column select {
    appearance: none;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    padding: 8px;
    font-size: 16px;
    box-shadow: none;
}

.columns .column .proposito {
    resize: none;
    text-align: flex-start;
    line-height: 2;
    height: 100%;
}

.reservarBTN {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    background: none;
    outline: none;
    gap: 10px;
    color: var(--variable-collection-current-color);
    border: 1px solid var(--variable-collection-current-color);
    transition: all 0.1s ease-in-out;
}

.reservarBTN:hover {
    background-color: var(--variable-collection-current-color);
    color: white;
}

.reservarBTN[disabled] {
    cursor: not-allowed;
    background: #f0f0f0;
    color: #b0b0b0;
    border: 1px solid #d3d3d3;
    opacity: 0.6;
}


.rdp-root {
    --rdp-accent-color: var(--variable-collection-current-color) !important;
}

.columns .column .disabled-label {
    color: #b0b0b0;
    cursor: not-allowed;
    opacity: 0.6;
}

.columns .column button[disabled] {
    background-color: #f0f0f0;
    color: #b0b0b0;
    cursor: not-allowed;
    opacity: 0.6;
}

.columns .column select[disabled], input[disabled], textarea[disabled] {
    color: #b0b0b0;
}


.columns .column .DayPicker-wrapper {
    opacity: 1;
}

.columns .column.DayPicker-wrapper[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

.columns .column .DayPicker-day--disabled {
    color: #b0b0b0;
    pointer-events: none
}

.columns .column .DayPicker-Caption.disabled {
    color: #b0b0b0;
}